################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/portfolio/FileContentIndex/7d3cf373-b4e1-4dac-a745-301c4630e486.vsidx
/.vs/portfolio/FileContentIndex/0cbc938c-f1be-4dca-851d-92df7fd66e0a.vsidx
/.vs/portfolio/FileContentIndex
