@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="aboutbody">
    <h1 padding-top="40px">about</h1>
    <div class="aboutpage">
        <div class="abouttext">
            <p>
                Welcome to my portfolio!

                I’m Grant- a professional web developer currently based in Jacksonville, Florida. I’ve been working as a developer for nearly a year now, and I've been learning to code for a little over three years, at first in classes, and then through working on my own projects. I received my A.S. from the Florida State College at Jacksonville, and am drawing near to publishing my tenth application to production since starting at my company last March!   
                <br /><br />
                Technical Skills <br />
                •Aforementioned C#/Java <br />       •.NET Core, Blazor, MVC, Web API <br />
                •Linux/Server Management   <br />         •Microsoft SQL Server <br />
                •Git/GitHub/ Azure app service  <br />   •Basic CosmosDB <br />
                <br />
                Currently, I’m working as a Fullstack Developer at Effective Computer Solutions here in Jax, and spending most of my free time working on my other projects. Please check out my Github projects on my portfolio page!

            </p>
        </div>

        <div class="aboutphotos">
            <img class="aboutimage" src="https://i.imgur.com/1tZjYjH.jpg" />
        </div>

        </div>
</body>