@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <h1 padding-top="40px">about</h1>
    <div class="aboutpage">
        <div class="abouttext">
            <p>
                Welcome to my portfolio!

                I’m Grant- an aspiring web developer currently based in Jacksonville, Florida. I’ve been learning to code for a little over a year now, at first in classes, and then through working on my own projects. I received my A.S. from the Florida State College at Jacksonville, and have been working hard to learn C#, .NET Core, and other related technologies. I also have intermediate knowledge of Java, and a tiny bit of Spring Boot. Though I prefer .NET, I learned much from my first major project - a java invoicing application that has been in production at my company for a few months now!
                <br /><br />
                Technical Skills <br />
                •Aforementioned C#/Java <br />       •Intermediate .NET Core MVC, Web API <br />
                •Linux/Command Line   <br />         •Basic CosmosDB <br />
                •Github/ Azure app service  <br />   •Basic SQL <br />
                <br />
                Currently, I’m working as a head roaster at Bold Bean Coffee here in Jax, and spending most of my free time working on my other projects. Please check out my Github projects on my portfolio page!

            </p>
        </div>

        <div class="aboutphotos">
            <img class="aboutimage" src="https://i.imgur.com/5BcPFSQ.jpg" />
        </div>

        </div>
</body>