@{
    ViewData["Title"] = "Contact";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="carousel">
        <a class="icon" href="https://github.com/grantsanders"><img src="~/images/github.svg" width="60" height="60" /></a>
        <a class="icon" href="https://linkedin.com/in/grant-sanders-158418252/"><img src="~/images/linkedin.svg" width="60" height="60" /></a>
        <a class="icon" href="https://www.instagram.com/grayunt/"><img src="~/images/instagram.svg" width="60" height="60" /></a>
        <a class="icon" href="mailto:grantsanders72@gmail.com"><img src="~/images/mail.svg" width="60" height="60" /></a>
    </div>
</body>