@{
    ViewData["Title"] = "Home Page";
}



<body style="background-color:black"></body>
<div class="text-center">
    <h1><strong>grant sanders</strong></h1>
    <h2>junior developer</h2>
    <h2>working in <br />jacksonville, fl</h2>

    <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="About">about me</a>
    <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Portfolio">my projects</a>
</div>


