@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body >
<div class="d-flex flex-column justify-content-center w-100 h-100">

    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="text-center">
            <h4><strong>grant sanders</strong></h4>
            <h5>junior developer</h5>
            <h5>working in <br />jacksonville, fl</h5>

            <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="About">about me</a>
            <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Portfolio">my projects</a>
        </div>


</body>