@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:black"></body>
<div class="text-center">
    <h1 class="display-3">grant sanders</h1>
    <h2 class="display-4">junior developer</h2>
    <h3 class="display-6">working in <br />jacksonville, fl</h3>

    <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="About">about me</a>
    <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Portfolio">my projects</a>
</div>


