@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>


<body>
    
  <div class="flexbox-container">
      <div class="flexbox-item flexbox-item-1">
          <h4 class="jobtitle"><strong>grant sanders</strong></h4>
          <h5 class="jobtitle"><strong>fullstack developer</strong></h5>
      </div>

     <div class="flexbox-item flexbox-item-2">
            <h5 class="location">currently working in: <br /> jacksonville, fl</h5>
     </div>
     <div class="flexbox-item flexbox-item-3">
                <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Portfolio">my projects</a>
                <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Contact">contact me</a>
     </div>

  </div>
           

</body>