@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>


<body>
    
  <div class="wrapper">

      <div>
          <h4 class="name"><strong>grant sanders</strong></h4>
          <h5 class="jobtitle"><strong>fullstack developer</strong></h5>
      </div>

     <div>
            <h5 class="location">building client-side and<br />web applications in jacksonville, fl</h5>
     </div>

     <div class="links">
                <a class="nav-link text-secondary" asp-area="" asp-controller="Project" asp-action="listProjects">my projects</a>
                <a class="nav-link text-secondary" asp-area="" asp-controller="Home" asp-action="Contact">contact me</a>
     </div>

  </div>
           

</body>