html {
	overflow: hidden;
}

.namecolor {
	filter: brightness(0) saturate(100%) invert(97%) sepia(1%) saturate(14%) hue-rotate(314deg) brightness(86%) contrast(86%);
}

body {
	background: linear-gradient(-45deg, #300208, #1f001d, #170202, #000000); 
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 12s ease infinite;
	font-family: 'Noto Sans JP', sans-serif;
}

.flexbox-container {
	display: flex;
	height: 100vh;
	width: 100vw;
	
}


.flexbox-item-1 {
	width: clamp(300px, 25%, 900px);
}
.flexbox-item-2 {
}
.flexbox-item-3 {
}


header {
	font-family: Arial, Helvetica, sans-serif
}


h1 {
	color: #c9c9c9;
}

h4 {
	font-size: clamp(30px, 90px, 90px);
	color: #c9c9c9; 
}



h5.jobtitle {
	font-size: 64px;
	color: #c9c9c9;
}

h5.location {
	font-size: 35px;
	color: #c9c9c9;
	text-align: center;

}

.links {
	font-size: 30px;
}


	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

.frame {

	position: fixed;
	z-index: 10;
	left: var(--pad);
	right: var(--pad);
	top: var(--pad);
	bottom: var(--pad);
	mix-blend-mode: difference;
	pointer-events: none
}

.frame_line {
	position: absolute;
	background-color: #fff;
	opacity: .5
}

.frame_line-left {
	left: 0;
	top: 0;
	width: 1px;
	height: 100%
}

.frame_line-right {
	right: 0;
	top: 0;
	width: 1px;
	height: 100%
}

.frame_line-top {
	left: 0;
	top: 0;
	width: 100%;
	height: 1px
}

.frame_line-bottom {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px
}