html {

}

:root {
	--color: #c9c9c9;
}
body {
	background: linear-gradient(-45deg, #300208, #1f001d, #170202, #000000); 
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 12s ease infinite;
	font-family: 'Noto Sans JP', sans-serif;
	overflow:hidden;
}



.wrapper {
	height: calc(100vh - 100px);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.carousel {
	height: calc(100vh - 100px);
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 100%;
	white-space: nowrap;
	line-height: 60px;
}

table, thead, tr, th, tbody, td {
	color: var(--color);
}

h2 {
	color: var(--color);
}

header {
	font-family: Arial, Helvetica, sans-serif
}


h1 {
	align-self: center;
	color: var(--color);
}

h4 {
	font-size: clamp(30px, 90px, 90px);
	color: var(--color);
}


h4.name {
	transform: translate(-2rem);
}

h5.jobtitle {
	font-size: 64px;
	transform: translate(1.5rem, -1.5rem);
	color: var(--color);
}

h5.location {
	transform: translateY(-15px);
	font-size: 35px;
	color: var(--color);
	text-align: center;
}

.links {
	justify-self: flex-end;
	font-size: clamp(10px, 20px, 30px);
	text-align: center;
	
}




	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

@media screen and (max-width: 770px) {
	.wrapper {
		justify-content: center;
	}

	h4.name {
		font-size: 50px;
		align-self: center;
		transform: translate(-.6rem, -.2rem);
	}

	h5.jobtitle {
		font-size: 40px;
		align-self: center;
		transform: translate()
	}

	h5.location {
		font-size: 35px;
		align-self: center;
	}
}


@media screen and (max-width: 550px) {
	.wrapper {
	justify-content: center;
	}
	h4.name {
		font-size: 40px;
		align-self: center;
		transform: translateY(-.5rem); 
	}
	h5.jobtitle {
		font-size: 35px;
		align-self: center;
		transform:translate()
	
	}
	h5.location {
		font-size: 30px;
		align-self: center;
	}
	.projects {
		overflow: auto;
	}
}

@media screen and (max-width: 350px) {
	.wrapper {
		justify-content: center;
	}

	h4.name {
		font-size: 35px;
		align-self: center;
		transform: translate(-.5rem, -.6rem);
	}

	h5.jobtitle {
		font-size: 30px;
		align-self: center;
		transform: translate(0.7rem, -1.5rem);
	}

	h5.location {
		font-size: 25px;
		align-self: center;
	}
}
